<p style="color: green"><%= notice %></p>

<%= render @subreddit %>

<% if current_user && current_user.id == @subreddit.user_id%>

<div>
  <%= link_to "Edit this subreddit", edit_subreddit_path(@subreddit) %> |
  <%= button_to "Destroy this subreddit", @subreddit, method: :delete %>
</div>
<%  end %>

<%= link_to "New Post", new_post_path(subreddit_id: @subreddit.id) %>
<%= link_to "Back to subreddits", subreddits_path %>

<%= render @posts%>